* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background: #4436ca;
    color: white;
    height: 100%;
  }
  body{
    overflow-x: hidden;
  }
  canvas {
    border: 4px solid white;
    margin-top: 1.9rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .game-container {
    margin-top: 2rem;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .logo{
    display: flex;
    justify-content: center;
  }
  
  .control {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .instruction{
    display: flex;
    flex-direction: column;
    margin:auto;
    position:absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 24);
    font-size: 18px;  
    font-weight:bold ;
    text-shadow: 2px 2px 2xp rgba(0, 0, 0, 0.2);
  }

  .instruction h1{
    text-align: center;
  }
  .btn{
    cursor:pointer;
    margin-top: 20px;
    padding: 2px;
    width: 7rem;
    height: 3rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  .btn-primary{
    background-color: #0069d9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .btn-primary:disabled{
    background-color:#5d96d4;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  input{
    padding: 1rem;
    border-radius: 4px;
    font-size: 16px;
    width: 12rem;
    height: 3rem;
    border: none;
  }
  .isVisible{
    visibility: hidden;
  }

  .container .card{
    overflow-y: hidden;
    border-radius: 20px;
    background-color: #aeaeae;
    color: rgb(0, 4, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
    border: 3px solid white;
    margin: 50px auto;
  }

.form-group{
    margin: 0 auto; 
    justify-content: space-evenly;
    display: flex;
    margin: 2rem;
  }
.btn-rewind{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: rgb(236, 28, 0);
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}
